{% load static %}
<!doctype html>
<html lang="en" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'admin/assets/css2/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'admin/assets/css2/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin/assets/css2/custom.css' %}">

    <title>Contact Form #2</title>
</head>
<body>


<div class="content">

    <div class="container">
        <div class="row align-items-center">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>