{% extends 'contacts/page_elements/base2.html' %}
{% block content %}

    <div class="col-lg-6 mx-auto">
        <div class="box">
            <form class="mb-5" method="post" id="contactForm" name="contactForm">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">

                    <div class="col-md-12 form-group">
                        {{ form.username.errors }}
                        <label for="{{ form.username.id_for_label }}">نام کاربری</label>
                        {{ form.username }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        {{ form.password.errors }}
                        <label for="{{ form.password.id_for_label }}">رمز عبور</label>
                        {{ form.password }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="ورود" class="btn btn-block btn-primary rounded-0 py-2 px-4">
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}